<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="app.component.css">

  <!------------- ICONOS -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <title>Dashboard</title>
</head>
<body>
  
  <nav class="sidebar">
    <header>
      <div class="image-text">

        <span class="image">
          <img src="favicon.ico" alt="logo">

        </span>

        <div class="text header-text">
          <span class="name">Colegio Chimalteco</span>
          <span class="profession">Base de Datos</span>

        </div>

      </div>

      <i class='bx bx-chevron-right toggle'></i>


    </header>
<div class="menu-bar">
  <div class="menu">

    <ul class="menu-links">
      <li class="nav-link active">
        
        <a [routerLink]="['/alumno']">
          <i class='bx bx-child icon'></i>
          <span class="text nav-text">Alumno</span>
        </a>
      </li>

      <li class="nav-link">
        <a [routerLink]="['/asignatura']">
          <i class='bx bx-horizontal-right icon'></i>
          <span class="text nav-text">Asignación de alumno </span>
        </a>
      </li>

      <li class="nav-link">
        <a [routerLink]="['/gradoseccion']">
          <i class='bx bx-calendar-exclamation icon' ></i>
          <span class="text nav-text">Grado y sección </span>
        </a>
      </li>

      
      <li class="nav-link">
        <a [routerLink]="['/inscripcion']">
          <i class='bx bx-edit-alt icon' ></i>
          <span class="text nav-text">Inscripción </span>
        </a>
      </li>

      
      <li class="nav-link">
        <a [routerLink]="['/notas']">
          <i class='bx bx-edit icon' ></i>
          <span class="text nav-text">Agregar una nota</span>
        </a>
      </li>

      
      <li class="nav-link">
        <a [routerLink]="['/profesor']">
          <i class='bx bxl-microsoft-teams icon' ></i>
          <span class="text nav-text">Agregar un profesor </span>
        </a>
      </li>

      
      <li class="nav-link">
        <a [routerLink]="['/usuario']">
          <i class='bx bx-user icon' ></i>
          <span class="text nav-text">Agregar un usuario </span>
        </a>
      </li>

      <li class="nav-link">
        <a [routerLink]="['/parentesco']">
          <i class='bx bx-git-compare icon' ></i>
          <span class="text nav-text">Agregar un parentesco </span>
        </a>
      </li>

      
    </ul>
  </div>

  <li class="nav-link">
    <a [routerLink]="['/parentesco']">
      <i class='bx bx-x-circle icon'></i>
      <span class="text nav-text">Cerrar Sesion </span>
    </a>
  </li>

</div>

  </nav>

  <router-outlet></router-outlet>
</body>
</html>
 