<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  
    
</head>
<body class="fos_parentesco">
    
    <!-- INICIO FORMULARIO -->
   <form class="''">


    <div>
        <h1 class="bld">AGREGAR UN PARENTESCO</h1>   
        <hr class="border border-primary  opacity-75">
    
    </div>

    <div class="row g-3">
        <div class="col">
            <label>Nombres:</label>
            <input type="text" class="form-control mb-3">
        </div>
        </div>

        <div class="row g-3">
        <div class="col">
            
            <label>Apellidos:</label>
            <input type="text" class="form-control mb-3">
          
        </div>
    </div>
<!-- fin de la columna -->

   

<div class="row g-3">
    <div class="col">

        <!-- ---------------------------- -->
      
        <label>Telefono:</label>

        <input type="text" class="form-control mb-3">
   
    </div>

    

    <div class="col">
        <label>Direccion:</label>
         <input type="text" class="form-control ">
        
    </div>
</div>
<!-- fin de la columna -->
   
<div class="row g-3">
    <div class="col">

        <!-- --------------Elemento de fecha-------------- -->
      
        <label>Correo:</label>

        <input type="text" class="form-control">
   
    </div>

    

    <div class="col">
            
        <label>Dpi:</label>

        <input type="text" class="form-control">

        
    </div>

    <div class="col">
            
        <label>Parentesco:</label>

        <input type="text" class="form-control">

        
    </div>
</div>
<!-- fin de la columna -->


  
<div class="row g-3">
   
  
    <div class="col-md-7 offset-md-9">
    <br>
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-danger">Cancelar</button>
</div>
    <div class="col-md-5">
        <br>
       
    </div>
</div>


    </form>
    

   
</body>
</html>